<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="http://jint-intj:3000/stylesheets/style.css">
    <script src="http://jint-intj:3000/web3.min.js"></script>
</head>
<body bgcolor="skyblue">

    {{{ body }}}
</body>
</html>
