body {
  background-color:#F0F0F0;
  font-family: 'Raleway','Source Sans Pro', 'Arial';
  padding: 2em;
}

.container {
  margin: 0 auto;
  width: 50%;
}
label {
  display:block;
  margin-bottom:10px;
}
input {
  margin-bottom: 1em;
  padding:10px;
  width: 50%;
}

button {
  display:block;
  margin: 2em 0;
  padding: 1em 4em;
}

#penname {
  background-color:#fff;
  margin: 1em 0;
  padding:1em;
}
